# node_modules folder
node_modules

# environment variables
.env
.env.development
.env.test

# visual studio code config folder
.vscode

# Build directories
/public
/out
/dist

# Lock files
/**/*.lock

# ESLint configuration
.eslintrc.json